body{
	background-color: #fafafa;
}
.myHover{
}
.myHover:hover{
	
}
#main-drawer {
	background-color: white;
}

#searchContent{
	background-color: white;
	margin-top: 32px;
	margin-left: 16px;
	/*margin-right: 16px;*/
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px 0px;
}
#searchInput {
	width: 78%;
}
#searchButton {
	width: 21%;
}

.layoutTitle {
	width: 100%;
	color: #3F51B5;
	text-align: left;
	margin-left: 16px;
	padding-left: 16px;
	/*margin-right: 16px;*/
}

.bookMarkItem {
	width: 100%;
	height: 60px;
	background-color: white;
	color: black;
	margin: 6px;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px 0px;
	cursor: pointer;
	overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}

.bookMarkItem:hover {
	color: #3F51B5;
	/*background-color: rgba(0, 0, 0, .08);*/
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px;
}
/* 列表项头像 */

.bookMarkItem .avatar {
	min-width: 38px;
	max-width: 38px;
	height: 38px;
	margin-top: 11px;
	margin-bottom: 11px;
	margin-left: 11px; 
	color: #fff;
	text-align: center; 
	border-radius: 3%;
}
/* 列表项内容 */
.mdui-list-item .content {
  text-align: center;
  margin-top: 4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
          flex-grow: 1;
}
.mdui-list-item .content:hover {
	
 }
 
.mdui-list-item .icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  color: rgba(0, 0, 0, .54);
}
.mdui-list-item .icon:hover {
	 
 }
 
